.header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #fff; 
}

.left-container {
    display: flex;
    align-items: center;
    gap: 3%;
    flex-basis: 33%;
    padding-left: 1vw;
}

.center-container {
    display: flex;
    flex-basis: 33%;
    gap: 1vw;
    padding-top: 1vh;
    align-items: center;
}
.mic-icon{
    font-size: 20px;
}
.logo {
    width:8vw;
}

.menu-icon {
    font-size: 2vw;
    cursor: pointer;
}

.search-container{
    display: flex;
}
.search-bar {
    border: 1px solid rgb(163, 160, 160);
    padding: 3%;
    border-radius: 50px 0 0 50px;
    width: 25vw;
    height: 2vh;
}

.search-icon {
    border: 1px solid rgb(163, 160, 160);
    border-radius: 0px 50px 50px 0px;
    height: 2vh;
    margin-bottom: 5px;
    padding: 3%;
    font-size:20px;
}
.icon{
    font-size: 2vw;
    cursor: pointer;
}
.right-container{
    flex-basis: 33%;
    display: flex;
    gap: 3vw;
    padding-right: 2vw;
    justify-content:flex-end;
}
@media screen and (max-width:1000px) {
    .icon{
        font-size: 3vw;
    }
    .logo{
        width: 10vw;
    }
    .mic-icon{
        font-size: 15px;
    }
}
@media screen and (max-width : 767px) {
    .center-container{
        gap: 6vw;
    }
    .icon{
        font-size: 5vw;
    }
    .logo{
        width: 18vw;
    }
    .search-icon{
        font-size: 3vw;
    }
    .mic-icon{
        font-size: 10   px;
    }
}